*{
    box-sizing: border-box;
}

section{
    gap: 20px;
}
.container1, .container2{
    width: 95%;
    margin-inline: auto;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;;
    justify-content: center;
}

.list1, .list2{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

.list1-item, .list2-item{
    width: 100%;
    max-width: 320px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.color{
    display: block;
    width: 25px;
    height: 25px;
    background: #000;
}